* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: #404040;
  text-align: center;
  margin: auto;
  
}

/* Typography */

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: #fff;
  margin: 0;
}

h2 {
  font-size: 1.3125rem;
  margin: 0;
}

h1 + p {
  color: #f18119;
  font-size: 1.3125rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  /* text-align: center ; */
}

h2 + p {
  color: #f18119;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}

strong {
  font-weight: 900;
}

.top-text {
  text-transform: uppercase;
  font-size: 0.625rem;
  font-weight: 900;
  color: #f18119;
  order: -1;
  text-align: center;
}

.fine-print_ {
  font-size: 0.625rem;
  letter-spacing: 1em;
}


.main > *,
.bottom > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* IMAGE */

.main {
  background-image: url(../images/bbq.jpg);
  background-color: #404040; /*for when the image doesn't load-up*/
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  padding: 0 0.5em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}

.bottom {
  padding: 2em 1em;
}

form{
  width: 80%;
  max-width: 300px;
}

input,
.btn {
    width: 100%;
}

input{
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 1em;
}

/*Media query */

@media (min-width: 675px) {
  body {
    font-size: 1.125rem;
      display: flex;
   align-items: center;
  }
  h1 {
    font-size: 3.5rem;
  }

  h2,
  h1 + p {
    font-size: 1.75rem;
  }

 


  

  .main,
  .bottom {
    width: 50%;
    min-height: 100vh;
  }

  h1 {
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
  }

  h2,
  h1 + p {
    margin: 1em;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
}
